@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Fira Sans", sans-serif;
    /* background-color: #f7f7f7; */
    background: linear-gradient(90deg, hsla(175, 100%, 87%, 1) 39%, hsla(175, 100%, 91%, 1) 100%);
    margin-top: 12vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.534);
    padding: 20px;
    border-radius: 18px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 20px 11px rgba(0, 0, 0, 0);
    max-width: 1200px;
    min-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 3rem;
    font-weight: 400;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 2.1rem;
}

#task-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2.1rem;
}

#add-task-btn {
    padding: 10px;
    background-color: #28a79c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.1rem;
}

#add-task-btn:hover {
    background-color: #217c88;
}

.todo-list ul {
    list-style-type: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.8rem;
}

.todo-list li:last-child {
    border-bottom: none;
}

.edit-task {
    margin-right: 10px;
    font-size: 1.5rem;
}

.delete-task {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}

.delete-task:hover {
    background-color: #c82333;
}

.edit-task-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1.5rem;

}

.edit-task-btn:hover {
    background-color: #e0a800;
}
