@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
    background: url('/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    margin: 0;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 20px 11px rgba(0, 0, 0, 0);
    min-width: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 400;
}

.todo-input {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#task-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task-btn {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #217c88;
}

.todo-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.todo-list li {
    padding: 30px;
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(100px);
    font-size: 1.5rem;
    width: 40%;
}

.edit-task {
    margin-right: 10px;
}

.delete-task {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-task:hover {
    background-color: #c82333;
}

.edit-task-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.edit-task-btn:hover {
    background-color: #e0a800;
}
